button {
	border: none;
	background-color: #201c2b70;
	font-size: 24px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clear {
	background-color: rgb(243, 61, 29);
}

.equals {
	background-color: rgba(11, 42, 182, 0.932);
}

.operators {
	background-color: rgba(0, 110, 255, 0.377);
}

.backspace {
	padding-top: 5px;
}

.clear-active {
	background-color: rgb(228, 39, 15);
}
.equals-active {
	background-color: rgba(46, 33, 224, 0.925);
}
.operators-active {
	background-color: rgba(43, 121, 184, 0.8);
}
.numbers-active,
.point-active,
.backspace-active {
	background-color: #3f3c4770;
}

@media (hover: hover) and (pointer: fine) {
	button:hover {
		background-color: #3f3c4770;
	}
	.clear:hover {
		background-color: rgb(228, 39, 15);
	}
	.equals:hover {
		background-color: rgba(46, 33, 224, 0.925);
	}
	.operators:hover {
		background-color: rgba(43, 121, 184, 0.8);
	}
}
